@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap");
@import "tailwindcss" prefix(tw);
@import "tw-animate-css";

@plugin "tailwindcss-animate";

:root {
  --font-display: "IBM Plex Sans", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  text-rendering: optimizelegibility;
}

* {
  border-color: var(--border);
  outline-color: color-mix(in oklch, var(--ring) 50%, transparent);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  cursor: default;
}

@media only screen and (width > 480px) {
  .Toastify__toast-container {
    --toastify-toast-top: max(
      var(--header-h) + var(--toastify-toast-offset),
      env(safe-area-inset-top)
    );
  }
}
